<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Portal Noticias - Nova Noticia</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<form action="admin/noticias/salvar" method="POST">
					<div class="form-group">
						<label for="titulo" class="control-label">Titulo:</label>
						<input type="text" class="form-control" id="titulo" name="titulo">
					</div>
					<div class="form-group">
						<label for="noticia" class="control-label">Noticia:</label>
						<textarea class="form-control" id="noticia" name="noticia" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label for="slug" class="control-label">Slug:</label>
						<input type="text" class="form-control" id="slug" name="slug">
					</div>
        			<button type="submit" class="btn btn-primary">Cadastrar Noticia</button>
				</form>
			</div>
		</div>
	</body>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>